.headerEnd{
  display: inline;
  margin-left: 15px;
  position: absolute;
}
.letterTitle{
  line-height: 35px;
}
.letterSubtitle{
  line-height: 80px;
}
.avatarDisplay{
  display: inline-block;
}
ion-item-sliding, ion-item-sliding .item{
  background-color: #ffffff;
}