.avatarImg{
  margin: auto;
  height: 100px;
  width: 100px;
  margin-bottom: 20px
}
.buttonLeft{
  right: 7px;
  position: absolute;
}
.buttonRight{
  left: 7px;
  position: absolute;
}
.heightButtons{
  height: 55px;
}